{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="my-5" id="panier">
    
    </div>

    <form method="get" class="d-flex" role="search">
        <!-- Menu déroulant pour sélectionner une catégorie -->
        <select name="category" class="form-select me-2">
            <option value="" {% if not selected_category %}selected{% endif %}>Toutes les catégories</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if selected_category == category.id|stringformat:"s" %}selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>

        <!-- Barre de recherche -->
        <input class="form-control me-2" name="search-item-name" type="search" 
               placeholder="Rechercher nom de produit ..." 
               aria-label="Rechercher" value="{{ request.GET.search_itemName|default:'' }}">
        
        <button class="btn btn-outline-success" type="submit">Filtrer</button>
    </form>
</div>

<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        
        {% for produit in produits %}
            <div class="col">

                <div class="card">
                        <img src="{{ produit.image.url }}" class="card-img-top">
                        <div class="card-body">
                            <h5 id="a{{ produit.id }}" class="card-title">{{ produit.title }}</h5>
                            <p class="card-price">{{ produit.price }} €</p>
                            <a href="{{ produit.id }}" class="btn btn-primary">Voir</a>
                            <a href="#" id="{{ produit.id }}" class="btn btn-success ajouter">Ajouter</a>
                        </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}


{% block scripts %}
    <script type="text/javascript">
        // Vérifie si le panier existe dans le localStorage
        let panier = localStorage.getItem('panier') ? JSON.parse(localStorage.getItem('panier')) : {};

        $(document).on('click', '.ajouter', function () {
            let item_id = this.id.toString();
            if (panier[item_id] !== undefined) {
                // Si le produit existe déjà dans le panier, on augmente la quantité
                let quantite = panier[item_id][0] + 1;
                panier[item_id][0] = quantite;
            } else {
                // Si le produit n'est pas encore dans le panier, on l'ajoute avec une quantité de 1
                let quantite = 1;
                let nom = document.getElementById("a" + item_id).innerHTML;
                let prix = parseFloat(document.querySelector(`#a${item_id}`).closest('.card').querySelector('.card-price').textContent.replace(' €', '').trim());
                panier[item_id] = [quantite, nom, prix];  // Ajout du produit avec quantité, nom et prix unitaire
            }
            console.log(panier);

            // Mise à jour du panier dans le localStorage
            localStorage.setItem('panier', JSON.stringify(panier));

            // Mise à jour de l'affichage du nombre d'articles dans le panier
            document.getElementById("countPanier").innerHTML = "Panier(" + Object.keys(panier).length + ")";
        });

        ListePannier(panier);

        function ListePannier(panier) {
            let panierListe = "<h6>Liste de(s) produit(s) ajouté(s) : </h6>";
            let index = 1;
            for (let i in panier) {
                panierListe += `${index}. ${panier[i][1]} ---> Quantité : ${panier[i][0]} <br>`;
                index++;
            }

            panierListe += "<br><a href='{% url 'checkout' %}' class='btn btn-primary'>Checkout</a>";
            
            // Mise à jour du contenu du popover pour afficher la liste des produits
            //document.getElementById('panier').setAttribute('data-content', panierListe);

            document.getElementById('panier').innerHTML = panierListe
        }
    </script>
{% endblock scripts %}